.about-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #333b6e;
}
.about-sub-container {
  width: 80%;
}
.about-me-heading-container {
  display: flex;
  align-items: center;
}
.hr-line {
  width: 100%;
}
.about-info-card-container {
}
.summery-content {
}
.tech-stack-display {
  display: flex;
}

.ul-tech-stack {
  list-style: circle;
  padding-left: 7px;
  padding: 10px;
}
.tech-stack-item {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list-item {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 9px;
  font-size: 55px;
}
.list-item-text {
  display: block;
  font-size: 13px;
  text-align: center;
  margin-top: 0px;
}

.section-heading {
  color: #f5eeee;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-weight: 500;
  text-align: center;
}
.scrollContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes float {
  0% {
    text-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    text-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* .container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

.avatar {
  /* width: 150px;
	height: 150px; */
  /* box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%; */
  /* overflow: hidden; */
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  /* img { width: 100%; height: auto; } */
}

.transparent {
  visibility: hidden;
  font-size: 20px !important;
}

@media screen and (max-width: 768px) {
  .about-sub-container {
    width: 95%;
  }
  .list-item-icon {
    margin-bottom: 0px;
    font-size: 20px !important;
  }
  .tech-stack-display {
    display: flex;
    flex-direction: row;
  }
  .skill-sections {
    display: flex;
    flex-direction: row;
  }
  .list-item-text {
    display: none;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
  }
  .list-item-icon {
    font-size: 10px !important;
  }
  .ul-tech-stack {
    padding-left: 7px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: auto !important;
  }
  .tech-stack-display {
  }
  .list-item {
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: 9px;
    font-size: 30px;
  }
  .about-exp-img {
    height: 10px;
    width: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
  .tech-stack-display {
    display: flex;
    flex-direction: column;
    border: solid 1px #ffffff;
  }
}
.list-item-icon {
  margin-bottom: 0px;
}
.pointer {
  cursor: pointer;
}

.about-exp-img {
  height: 100px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.exp-card-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.exp-image-container {
  display: flex;
  justify-content: center;
  border: solid 1px #333b6e;
  padding: 50px;
}
.exp-card {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  border: none;
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
}

.exp-points {
  list-style: none;
  font-size: 60px !important;
}
.exp-content {
  font-size: 18px !important;
  font-weight: 100 !important;
}
.company-name {
  list-style: none;
  font-size: 30px !important;
}
.company {
  font-size: 28px !important;
  font-weight: 500 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  /* color: #a09e9e;
  text-shadow: 0 0 10px #cfcdcd;

  text-shadow:
    inset 2 2 2 #cfcccc,
    0 0 1.2em rgba(243, 6, 6, 0.5); */
}

.hr-abt{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
