.project-list-item {
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1500px;
}
.project-item-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #48638852;
  box-shadow: 0px 4px 16px 0px #28323e50;
  border-radius: 10px;
  padding: 15px;
}

.project-image-container {
  padding: 10px;
}
.project-item-thumbnail {
  max-width: 700px;
  object-fit: fill;
  border-radius: 5px;
  aspect-ratio: auto;
  flex-shrink: 0;
  box-shadow: 0px 4px 16px 0px #1c232cbe;
}
.details-container {
  width: 40vw;
  padding: 10px;
  border-radius: 10px;
}

.project-abt-content {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 9px;
  color: #a7beae;
  font-family: cursive;
  color: #a7beae;
}
.key-points-ul-container {
  list-style: none;
  padding-left: 0px;
}

.content {
  font-size: 14.2px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 9px;
  color: #a7beae;
  line-height: 1.2;
  font-family: Comic Sans, Comic Sans MS, cursive;
}

.titles {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 9px;
  color: #a7beae;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.project-list-item-sm {
  display: none;
}

.credentials-links-container {
  display: flex;

  height: 40px;
  justify-content: space-between;
}
.social-links {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
}
.project-icon {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .project-item-list-container {
    flex-direction: column;
    align-items: center;
    padding: 7px;
  }
  .project-list-item-sm {
    display: block;
    width: 97%;
  }
  .project-list-item {
    display: none;
  }
  .project-item-thumbnail {
    width: 100%;
    border-radius: 4px;
  }
  .details-container {
    width: 100%;
    order: 2;
    padding: 0px;
  }

  .project-image-container {
    order: 1;
    padding: 0px;
  }
  .project-item-thumbnail {
    width: 100%;

    object-fit: fill;
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px #1c232cbe;
  }
  .titles {
    font-size: 17px;
    margin-left: 0px;
  }
  .key-points-ul-container {
    list-style: none;
    padding-left: 0px;
  }
  .content {
    font-size: 11.2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
  }
}

/* .nav-link-item-project {
  text-decoration: none;
  font-family: 'Roboto';
  align-self: center;
  color: #a7beae;
  align-items: center;
  transition: all ease 400ms;
}
.nav-link-item-project:hover {
  color: #4a5bfa;

  text-shadow: inset 2 2 2 #4a5bfa, 0 0 1.2em #30366e;
} */

.hover-underline-animation-project {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-project:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -6px;
  background-color: #a7beae;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-project:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  margin-bottom: -6px;
}

.span-title {
  margin-left: 10px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
