.projects-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #333b6e;
}

.projects-sub-container {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-ul-list-container {
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-ul-list-container-mini {
  padding-left: 0px;
  list-style: none;

  display: flex;
  width: 100%;
  max-width: 1500px;
  justify-content: space-between;
}
.section-heading{
  text-align: start;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .projects-sub-container {
    width: 100%;
  }
  .project-heading {
    font-size: 20px;
  }
  .projects-ul-list-container-mini {
    flex-direction: column;
  }
}
